body{
  margin:0;
  font-family:Arial;
  background:#111;
  color:white;
}

header{
  background:black;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

button{
  padding:6px 12px;
  margin:3px;
  background:#2196f3;
  border:none;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

section{
  padding:20px;
}

.grid{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

.card{
  background:#1c1c1c;
  width:180px;
  border-radius:8px;
  overflow:hidden;
}

.card img{
  width:100%;
  height:250px;
  object-fit:cover;
}

.news-box{
  background:#1c1c1c;
  padding:15px;
  border-radius:10px;
}

.suggestions{
  display:flex;
  gap:15px;
}

.suggest-card{
  background:#1c1c1c;
  padding:15px;
  border-radius:8px;
}
